/* share styles  */
* {
    margin: 0;
    padding: 0;
}

/* heading part starts */

.headpart {
    height: 810px;
    width: 1601px;
    background-image: url(../banner/banner2.png);
    background-size: cover;

}

.banner_container {
    width: 527px;
    padding: 232px 230px 350px 846px;

}

.banner_head {
    width: 525px;
    height: 228px;
    font-size: 65px;
    text-align: right;
    margin-bottom: 24px;
    /* border: 1px solid aliceblue; */
}

.banner_para {
    width: 494px;
    height: 78px;
    font-size: 16px;
    text-align: right;
    margin-left: 30px;
    line-height: 26px;
    font-weight: 400;
    /* border: 1px solid aliceblue; */
}

.buton {
    text-align: right;
    margin-top: 32px;
}

#btn {
    padding: 20px 25px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* heading part end */
/* main part starts */
.main_layer {
    width: 1600px;
    /* height: 3223px; */
}

/* section part-01 starts  */

.sec_pic {
    height: 600px;
}

.section1_container {
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 100px 300px 100px 250px;
    /* border: 1px solid rgb(23, 61, 94); */
    gap: 50px;

}

.section1_para {
    width: 288px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 100px;
}

.sec1_parades {
    width: 390px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.section1_descrip ul {
    width: 300px;
    /* border: 1px solid rgb(23, 61, 94); */
    /* padding: 10px; */
    font-size: 16px;
    font-weight: 400;
}

.section1_descrip ul li {
    margin-left: 15px;
    margin-bottom: 8px;
}

/* section part-01 end */
/* section part-02 starts */

#myplan {
    font-size: 40px;
    font-weight: 700;
    margin-left: 660px;
}

.section2_container {
    width: 60%;
    /* border: 1px solid rgb(34, 75, 110); */
    margin: 50px 250px 100px 250px;
    display: flex;
    justify-content: space-around;
}

.slide_contain1 {
    text-align: center;
    /* border: 1px solid rgb(23, 61, 94); */
}

.web_icon {
    width: 92.958px;
    height: 92.958px;
    margin-bottom: 18.3px;
}

.webtitle {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.webdes {

    font-size: 25px;
    font-weight: 500;
}

/* section part-02 end */

/* section part-03 starts */
.section3_container {
    display: block;
    max-width: 58%;
    padding: 59px 0px 50px 50px;
    background-image: url('/watch.png');

    background-size: cover;
}


.secdesc {
    /* border: 1px solid rgb(23, 61, 94); */
    width: 459px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;

}

#btn2 {
    padding: 20px 20px 20px 20px;
    width: 160px;
    height: 64px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;

}

/* section part-03 end */

/* end of main part */

/* start footer part */
.footer_contain {
    background-color: black;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    color: white;
    padding: 150px;
}

.footer_descrip h1 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer_descrip p {

    width: 485px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-right: 340px;
    margin-bottom: 21px;
}


.footer_contact h3 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
}

.footer_contact input {
    padding: 21px 40px 21px 10px;
    border-radius: 10px;
    width: 325px;
    height: 64px;
    margin-bottom: 16px;
}

.footer_contact button {
    padding: 20px 30px;
    width: 170.106px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}